NODE_ENV=development
PORT=3000
JWT_SECRET=74HDDGHHU874ju8145=-
JWT_VALIDITY_HOURS=24
ROOT_URL=http://localhost:3000
DATABASE_PORT=27017
DATABASE_HOST=localhost
DATABASE_NAME=nest
MONGODB_URI=mongodb://localhost:27017/ccn_db
MONGOMS_SYSTEM_BINARY=/usr/local/bin/mongod
API_AUTH_ENABLED=true
APP_EMAIL=email@gmail.com
MAILER_API_KEY=api_key_mailgun
MAILER_DOMAIN=mailer_domain_mailgun

# Cloudinary Config
CLOUDINARY_API_KEY=CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=CLOUDINARY_API_SECRET
CLOUDINARY_NAME=CLOUDINARY_NAME