NODE_ENV=development
PORT=3000
JWT_SECRET=74HDDGHHU874ju8145=-
ROOT_URL=http://localhost:3000
DATABASE_PORT=27017
DATABASE_HOST=localhost
DATABASE_NAME=nest
MONGODB_URI=mongodb://localhost:27017/nest
API_AUTH_ENABLED=true
APP_EMAIL=email@gmail.com
MAILER_API_KEY=api_key
MAILER_DOMAIN=mailer_domain